extends layout
block append styles
    style.
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font: 13px Helvetica, Arial;
        }

        #log {
            font-family: monospace;
            white-space: pre;
        }

        #log p.debug {
            color: #5757dc;
        }

        #log p.info {
            color: #259e25;
        }

        #log p.warn {
            color: #bf3f3f;
        }

        #log p.error {
            color: #ff0000;
        }

        #log p.trace {
            color: #c333a4;
        }

        #log p.streamError {
            color: #ffffff;
            background-color: #963636;
        }

        #log p.streamInfo {
            color: #ffffff;
            background-color: #429c42;
        }

        #log p.streamSuccess {
            color: #ffffff;
            background-color: #4a4a9a;
        }

block content
    div#log
block append scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js")
    script(src=libs["socket.io-client"].path)
    script(src=assetFingerprint("/tail/app.js"))
